#containerTop{
    margin: 0 auto;
    width: 90%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#containerTop a{
    color: white;
    text-decoration: none;
    font-size: 3vw;
}
#subtitle{
    height: 100%;
    width: 30%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/acto2.png');
}
#videoContainer{
    width: 80%;
    height: 35%;
    background-color: #383838;
    margin: 5% auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
}
#title{
    width: 100%;
    text-align: center;
}
.video-container {
    position: relative;
    height: 100%;
    width: 32.9%;
    overflow: hidden;
}
    
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}