#containerTop{
    margin: 0 auto;
    width: 90%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#containerTop a{
    color: white;
    text-decoration: none;
    font-size: 3vw;
}
#subtitle{
    height: 100%;
    width: 30%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/acto3.png');
}
#title{
    width: 100%;
    text-align: center;
}
#content{
    margin: 0 auto;
    width: 90%;
    height: 53%;
}