#containerTop{
    margin: 0 auto;
    width: 90%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#containerTop a{
    color: white;
    text-decoration: none;
    font-size: 3vw;
}
#subtitle{
    height: 100%;
    width: 30%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/acto3.png');
}
#title{
    width: 100%;
    height: 15%;
    text-align: center;
    background-image: url('../img/intermedio.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#content{
    margin: 0 auto;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.contentItem{
    width: 30%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;;
}

#donation{
    background-image: url('../img/company.jpg');
    background-position: center;
    background-size: cover;
    
}

.itemText{
    width: 80%;
    font-size: 1vw;
}

#payment{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#externalPayment{
    margin-top: 2%;
}
table{
    height: 30%;
    width: 100%;

}
td{
    padding-top: 0.5em;
    width: 100%;
    font-size: 1vw;
}
td,input{
    border-radius: 10px;
}

#submitInput{
    background-color: #FFC300;
    border: none;
    border-radius: 5px;
    height: 1.5vw;
    width: 3vw;
    float: right;
    font-size: 1vw;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
#footer{
    width: 100%;
    height: 25%;
    background-color: #FFC300;
    position: fixed;
    bottom: 0;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
#footerText{
    text-decoration: none;
    color: black;   
    height: 60%;
    width: 20%;
    margin-left: 5%;
    font-size: 1.4vw;
}
#footerText a{
    text-decoration: none;
    color: black;
}
#footerContact{
    margin-right: 3%;
    height: 90%;
    text-align: end;
    line-height: 6px;
}
#footerContact a{
    text-decoration: none;
    color: black;
}
i{
    margin-left: 4%;
}

.galleryItem:first-child{
    background-image: url('../img/img1.jpg');
}
.galleryItem:nth-child(2){
    background-image: url('../img/img2.jpg');
}
.galleryItem:nth-child(3){
    background-image: url('../img/img3.jpg');
}
.galleryItem:nth-child(4){
    background-image: url('../img/img4.jpg');
}
.galleryItem:nth-child(5){
    background-image: url('../img/img5.jpg');
}
.galleryItem{
    background-position: center;
    background-size: cover;
}